html {
  font-family: 'Lato', sans-serif;
   background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 30%, rgba(0,0,0,0.05) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(30%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.05)));
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 30%,rgba(0,0,0,0.05) 100%);
  background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 30%,rgba(0,0,0,0.05) 100%);
  background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 30%,rgba(0,0,0,0.05) 100%);
  background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 30%,rgba(0,0,0,0.05) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1a000000',GradientType=1 );
}

.main-container{
  /*border: 1px solid black;*/
  width: 60%;
  margin: auto;
}
.color-inherit{
  color:inherit;
}
p {
  /*font-weight: lighter;*/
  margin: 0.1rem;
}

h1{
  font-size: 3rem;
  font-weight: 300;
  color: #2C3E50;
  margin: 1.0rem;
  margin-top: 0;
}
 h3{

  /*color: #596273;*/
  color:#2C3E50;

}

h2 {
  font-weight: 400;
  font-size: 1.5rem;
  color: #2980B9;
  margin: 0.5rem;
  margin-left: 0;
}

h3{
  font-weight: 400;
  margin: 0.5rem;
}


.nav-bar{
  /*border: 1px solid blue;*/
  height: 3rem;

}

.txt-center{
  text-align: center;
}

.nav-right{
  text-decoration: none;
  color: #2980B9;
  float: right;
  /*position: absolute;*/
  right: 1rem;
}

.nav-left{
  margin-top: 1rem;
  color:#2980B9;
  font-size: 2rem;
  /*margin-top: 1rem;*/
  /*position: absolute;*/
  left: 2rem;
}
hr {
  width:100%;
  color:#2980B9;
  border-color: #2980B9;
}

/* unvisited link */
 a:link {
    color: inherit;
    text-decoration: none;
}

/* visited link */
 a:visited {
    color: inherit;
}

/* mouse over link */
 a:hover {
    color: #E74C3C;
}

/* selected link */
 a:active {
    color: inherit;
}

.red {
  color: #E74C3C;
}