<html>
  <div class="main-container">
    <div class="nav-bar">
      <div class="nav-right">
      <a href="/resume.pdf" target="_blank">PDF </a><i class="fa fa-file-pdf-o red"></i>
      </div>
      <div class="nav-left">
          <a href="http://www.linkedin.com/pub/danny-glover/53/539/212/" class="color-inherit"><i class="fa fa-linkedin-square"></i></a>
          <a href="https://github.com/whoisglover" class="color-inherit"><i class="fa fa-github"></i></a>
          <a href="http://dannyglover.svbtle.com" class="color-inherit"><i class="fa fa-pencil-square"></i></a>
      </div>
    </div>
    <div id="resume-top">
      <h1 class="txt-center">Danny Glover</h1>
      <hr>

      <p class="txt-center">
        <a href="tel:636-675-1799">636-675-1799</a> &bull;
        <a href="mailto:djglover00@gmail.com" target="_top">djglover00@gmail.com</a>  &bull; 1118 E Locust St. Columbia, MO 65201
      </p>

    </div>
    <div id="resume-body">
      <h2>Education</h2>
        <p> University of Missouri, Columbia, Missouri - B.S. Computer Science, December 2014</p>
        <p> Minor in Mathematics, Dean’s List Recipient, Bright Flight Scholarship. GPA: 3.34/4.0</p>
      <h2>Skills</h2>
        <p class="txt-center">C/C++ &bull; Java &bull; Ruby + Rails &bull; PHP &bull; HTML5/CSS3 &bull; Javascript &bull; JQuery &bull; Objective-C &bull; Swift &bull; Agile Web Development &bull; Test Driven Development &bull; API Design &bull; Mobile Application Development &bull; Algorithms &bull; SQL &bull; PSQL &bull; REST &bull; Git &bull; Github &bull; Pair Programming &bull; OO Principles & Design<p>
      <h2>Experience</h2>
        <h3>Recent Graduate, Dev Bootcamp; San Francisco, CA — April 2014-August 2014 </h3>
          <p>&nbsp;&nbsp;&bull; 18 weeks of immersive web development training</p>
          <p>&nbsp;&nbsp;&bull; Learned programming theory, Ruby and Ruby on Rails, HTML/CSS, Javascript, and other modern web frameworks needed to become a cutting edge full stack web developer</p>
          <p>&nbsp;&nbsp;&bull; Implemented design patterns such as MVC and Object-Oriented Programming </p>
          <p>&nbsp;&nbsp;&bull; Completed 400+ hours of structured pair programming, led agile development of single and multi-day team projects</p>
          <p>&nbsp;&nbsp;&bull; Weekly classes to understand and develop engineering empathy, mastered Git and Github for collaborative team development on a large scale</p>
        <h3>Software Engineer, Brookside Properties; Columbia, Mo — August 2013-April 2014</h3>
          <p>&nbsp;&nbsp;&bull; Consulted on development of back-end system for data management of inventory, revenue streams, and customers</p>
          <p>&nbsp;&nbsp;&bull; System will be used to facilitate daily business operations at multiple properties with over 1,200 residents, analyze business trends, and drive the front end website</p>
          <p>&nbsp;&nbsp;&bull; Designed layout of relational database and API that utilizes PHP, JSON, MySQL and emphasizes software longevity and efficiency</p>
        <h3>Honors Undergraduate Research, Shanghai University; Shanghai, China — Summer 2013</h3>
          <p>&nbsp;&nbsp;&bull; Member of a team of six from University of Missouri to collaborate with students from Shanghai University on a joint research project conducted in Shanghai University’s Smart City Lab</p>
          <p>&nbsp;&nbsp;&bull; Contributed to development of an Android mobile game by developing the game’s backend server</p>
          <p>&nbsp;&nbsp;&bull; Server hosted a multiplayer online game and was written in Java, utilized multithreading and socket communication</p>
        <h3>Marketing Director, Nightlife App; Columbia, MO — August 2011 - January 2013</h3>
          <p>&nbsp;&nbsp;&bull; Developed and implemented marketing plan and strategy for the iOS + Android app Nightlife</p>
          <p>&nbsp;&nbsp;&bull; Established and maintained a social media presence which drove Nightlife to 15,000+ downloads and 1,500+ active weekly users</p>
      <h2>Objective</h2>
        <p>I hope to work in a highly collaborative, team oriented environment. I want to learn as much as possible while having a positive impact on my team and project from day one.</p>
    <!-- end resume body -->
    </div>
    <br><br><br><br>
  <!-- end main container -->
  </div>



</html>
